//common
$font-basic: 'open_sans';
$font-freestyle: 'freestyle_script';
$icon-font-family: 'icomoon';


//header
$white: #fff;
$color-font: #6F6255;
$purple: #606FE2;

//menu
$menu-line-width: 30px;
$menu-line-height: 3px;

//footer
$darck-blue: #5363D8;
$blue: #5B6CEB;
$color-copyright: rgba(190, 204, 253, 0.876);

//form
$inpit-field: #F2F2F2;
$button-submit: $blue;
$input-drop: #E1E1E1;
$darck-grey: #777;
$light-grey: #C0BBBD;
$tile: #5167D4;
$bg-layer: #5163eca4;

//section
$grey: #777777;
